body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}


.cardOptionsText, .cardOptionsText > i {
    cursor: pointer;
}

@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card {
    background-color: white;
    width: 250px;
    height: 100%;
    margin: 2.7% auto;
    margin-top: 120px;
    text-align: center;
    box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.2);
    animation-name: slideIn;
    animation-duration: 2.5s;
    animation-fill-mode: backwards;

   
}

.card:hover {
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.3)
}

.cardHeader {
    max-height: 100%;

}

.cardImageContainer {

}

.cardImage {
    width: 100%;
}

.cardImage2 {
    width: 20%;
}

.imageCap {
    color: white;
    background-color: pink;
    position: relative;
    bottom: 30px;
    font-size: 20pxvw;
    border: 1px solid pink;
    width: 40%;

}

.cardBody {
    padding: 15px;
    height: 210px;
}

.cardBody2 {
    padding: 15px;
    height: 210px;
    display: none;

}

.cardBody3 {
    padding: 15px;
    height: 210px;
    display: none;
}

.itemTitle {
    font-size: 20px;

}

.itemTitle2 {
    font-size: 20px;
    margin-bottom: 10px;

}

.itemDescrip {
    padding: 10px;
    font-size: 12px;
}

.cardOptionsContainer {
    display: flex;
    justify-content: center;
    margin: auto;
 
}

.cardBodyHr {
    width: 5%;
}

.cardOptions {
    font-size: 12px;
    padding: 10px;
    background-color: #f8f9ff;
    width:  100%;
}

.cardOptions:hover {
    cursor: pointer;
    background-color: #d4d4d4;

}

#backBtn {
    display: none;
}

.quantInpt {
    font-size: 12px;
    padding: 5px;
    width: 70%;
    border-radius: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    margin-right: 5px;
    border: 2px solid rgb(210, 210, 210)
}

.quantInpt:focus {
    outline: none;
}

.cartForm {
    margin: auto 20%;
    display: flex;
}

.quantBtn {
    background-color: #85bb65;
    border: none;
    padding: 5px;
    width: 75%;
    border-radius: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.quantBtn:focus {
    outline: none
}

.plus-sign {
    margin-bottom: 5px;
}

.qTitle {
    font-size: 12px;
}

.qAmount {
    color: #85bb65;
    font-size: 12px;
}

.successMsg {
    color: #85bb65;
    font-size: 12px;
}

.unlikeHeart {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
    background-position: right;
    background-repeat:no-repeat;
    background-size:2900%;
    margin: auto;

}

.heart {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
    background-position: left;
    background-repeat:no-repeat;
    background-size:2900%;
    margin: auto;

}

.isAnimating {
    animation: heartBurst .8s steps(28) 1;
}

.isUnAnimating {
    animation: heartUnlike .8s steps(28) 1;
}

@keyframes heartUnlike {
    form {
        background-position: right;
    } to {
        background-position: left;
    }
}

@keyframes heartBurst {
    form {
        background-position: left;
    } to {
        background-position: right;
    }
}

#saveBtn2 {
    display: none;
}

.fas {
    margin-top: 5px;
    font-size: 16px;

}

.greenCart {
    color: #85bb65;
}